<!-- aboutme -->
<div id="aboutme" class="content_2">
    <h1 class="h-bloc">About Me</h1><br>
    
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12" id="research_page">
                <article id="post-1" class="research-article">  
                    <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12 post_media">
                                    {% comment %} <div class="text_content_p">My research interest is in optimal control and real-time optimization of human assistive devices. 
                                        My goal is to build a robot that can assist impaired human limbs or help the rehabilitation of neuromuscular impairments.</div>
                                    <div class="clear"></div>
                                    <!-- <div class="text_content_p">

                                    </div> --> {% endcomment %}
                                    <div class="title_content">
                                        <div class="text_content">Research Interests</div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="text_content_p">Legged Robots, Dynamic Locomotion, Biomechanics</div>
                                    <div class="clear"></div>
                                    {% comment %} <div class="text_content_p">Dynamic Locomotion</div>
                                    <div class="clear"></div> {% endcomment %}
                                    <div class="text_content_p">Control: optimal control and real-time optimization of human assistive devices </div>
                                    <div class="clear"></div>
                                    <div class="text_content_p">Learning: reinforcement learning / deep learning in locomotion </div>                                    
                            </div>
                        </div>     
                </article>
    
                <article id="post-1" class="research-article">  
                    <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12 post_media">
                                    <div class="title_content">
                                        <div class="text_content">Education</div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="text_content_p">M.S., Mechanical Engineering, Carnegie Mellon University, 2017 - 2019 </div>
                                    <div class="clear"></div>
                                    <div class="text_content_p">B.S., Mechanical Engineering, University of California, Irvine, 2013 - 2016</div>
                          
                                </div>
                            </div>
                        </div>     
                </article>
            <div class="clear"></div>
            </div>
        </div>
    
    </div>
    <div class="clear"></div>
    </div>
    <!-- End .profile -->