<!-- aboutme -->
<div id="aboutme" class="content_2">
    <h1 class="h-bloc">About Me</h1><br>
    
    <div class="col-md-12">
        {% comment %} <div class="row"> {% endcomment %}
            <div class="col-md-12" id="research_page">
                <article id="post-1" class="research-article">  
                    <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12 post_media">
                                    <div class="title_content">
                                        <div class="text_content">Research Interests</div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="text_content_p">Legged Robots, Dynamic Locomotion, Biomechanics</div>
                                    <div class="clear"></div>
                                    <div class="text_content_p">Optimal Control and Real-time Optimization of Human Assistive Devices </div>
                                    <div class="clear"></div>
                                    <div class="text_content_p">Reinforcement Learning / Deep Learning in Locomotion </div>                                    
                            </div>
                        </div>     
                </article>
    
                <article id="post-1" class="research-article">  
                    <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12 post_media">
                                    <div class="title_content">
                                        <div class="text_content">Education</div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="text_content_p">M.S., Mechanical Engineering, Carnegie Mellon University, 2017 - 2019 </div>
                                    <div class="clear"></div>
                                    <div class="text_content_p">B.S., Mechanical Engineering, University of California, Irvine, 2013 - 2016</div>
                          
                                </div>
                            </div>
                        </div>     
                </article>

                <article id="post-1" class="research-article">  
                    <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12 post_media">
                                    {% comment %} <div class="title_content"> {% endcomment %}
                                        <a href="https://www.revolvermaps.com/livestats/5plifhiznlp/"><img src="//rf.revolvermaps.com/h/m/a/6/ff0000/128/0/5plifhiznlp.png" width="256" height="128" alt="Map" style="border:0;"></a>
                                    {% comment %} </div> {% endcomment %}
                               </div>
                            </div>
                        </div>
                    </div>
                </article>                


            </div>

        {% comment %} </div> {% endcomment %}

    </div>

</div>    
    <!-- End .profile -->