<!-- .research -->
<div id="course" class="content_2">
        <h1 class="h-bloc">Course Projects</h1><br> 
        
        <div class="col-md-12">
            <div class="row">
        
                <!-- Page research -->
                <div class="col-md-12" id="research_page">
                    <!-- start Page research -->
                    <section id="research-page">
        
                        <!-- Post 1 -->	
                        <article id="post-1" class="research-article">                    
        
                            <div class="col-md-12">
        
                                <div class="row">
        
                                    <div class="col-md-12 post_media">
        
                                        <div class="title_content">
                                                <div class="text_content">Obstacle Avoidance Trajectory Optimization</div>
                                                <div class="clear"></div>
                                            </div>
            
                                            <ul class="info">
                                                <li><a href='../documents/24_785_final_report.pdf' target='_blank'> report </a></li>
                                            </ul>
            
                                            <div class="research-content">
                                                <div class="text_content_p">Motion planning is an essential part for autonomous driving vehicles. 
                                                    One interesting subject within this area is planning a trajectory that safely overtakes an obstaclein the front. 
                                                    Our project solved this trajectory planning problem with various optimization based methods including 
                                                    iterative linearquadratic regulator (iLQR), genetic algorithm (GA), and interior point methods(IPMs). </div>
                                            </div>
        
                                        <div class="media">
                                            <div class="he-wrap tpl2">
                                                <div id="coursepic-1" class="carousel slide" data-ride="carousel">
        
                                                    <ol class="carousel-indicators">
                                                        <li data-target="#coursepic-1" data-slide-to="0" class="active"></li>
                                                        <li data-target="#coursepic-1" data-slide-to="1"></li>
                                                        <li data-target="#coursepic-1" data-slide-to="2"></li>
                                                    </ol>
        
                                                    <div class="carousel-inner">
        
                                                        <div class="item active">
                                                            <img src="images/course_project/24785/1.png" alt="" />
                                                        </div>
        
        
                                                        <div class="item">
                                                            <img src="images/course_project/24785/2.png" alt="" />
                                                        </div>
        
                                                        <div class="item">
                                                            <img src="images/course_project/24785/3.png" alt="" />
                                                        </div>
        
                                                    </div>
        
                                                    <a class="left carousel-control" href="#coursepic-1" data-slide="prev">
                                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                                    </a>
        
                                                    <a class="right carousel-control" href="#coursepic-1" data-slide="next">
                                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                                    </a>
        
                                                </div>
                                            </div>
        
                                        </div>
                                    </div>
                                </div>
        
                            </div>
                        </article>
                        <!-- End Post 1 -->
        
                        <div class="clear"></div>
        
                        <!-- Post 2 -->
                        <article id="post-1" class="research-article">                    
        
                            <div class="col-md-12">
        
                                <div class="row">
        
                                    <div class="col-md-12 post_media">
        
                                        <div class="title_content">
                                                <div class="text_content">Policy Gradient Tutorial</div>
                                                <div class="clear"></div>
                                            </div>
            
                                            <ul class="info">
                                                <li><a href='../documents/Policy_Gradient_Tutorial.pdf' target='_blank'> material </a></li>
                                                <!-- <li><a href=''> video </a></li>
                                                <li><a href=''> code </a></li> -->
                                            </ul>
            
                                            <div class="research-content">
                                                <div class="text_content_p">We gave a oral tutorial about Policy Gradient theorem. 
                                                    We divided the theorem into two main parts: policy gradient for episodic tasks and continuing problems. We included topics like: <br>
                                                    Why policy gradient? <br>
                                                    What is the advantage of the policy gradient? <br>
                                                    How does the policy gradient perform? etc. <br> 
                                                    We covered some common algorithms,<br>
                                                    such as REINFORCE: Monte Carlo Policy Gradient,  <br>
                                                    REINFORCE with Baseline, <br>
                                                    One-step TD Actor-Critic, <br>
                                                    Q Actor-Critic, <br>
                                                    Advantage Actor-Critic, <br>
                                                    Natural Policy Gradient.</div>
                                            </div>
        
                                        <div class="media">
                                            <div class="he-wrap tpl2">

                                                <div id="coursepic-2" class="carousel slide" data-ride="carousel">
        
                                                    <ol class="carousel-indicators">
                                                        <li data-target="#coursepic-2" data-slide-to="0" class="active"></li>
                                                        <!-- <li data-target="#coursepic-2" data-slide-to="1"></li>
                                                        <li data-target="#coursepic-2" data-slide-to="2"></li> -->
                                                    </ol>
        
                                                    <div class="carousel-inner">
        
                                                        <div class="item active">
                                                            <img src="images/course_project/16831/1.jpg" alt="" />
                                                        </div>
        
<!--         
                                                        <div class="item">
                                                            <img src="images/course_project/24785/2.png" alt="" />
                                                        </div>
        
                                                        <div class="item">
                                                            <img src="images/course_project/24785/3.png" alt="" />
                                                        </div> -->
        
                                                    </div>
        
                                                    <!-- <a class="left carousel-control" href="#coursepic-2" data-slide="prev">
                                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                                    </a>
        
                                                    <a class="right carousel-control" href="#coursepic-2" data-slide="next">
                                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                                    </a> -->
        
                                                </div>
                                            </div>
        
                                        </div>
                                    </div>
                                </div>
        
                            </div>
                        </article>
                        <!-- End Post 2 -->
        
                        <div class="clear"></div>
        
                        <!-- Post 3 -->
                        <article id="post-1" class="research-article">                    
        
                            <div class="col-md-12">
        
                                <div class="row">
        
                                    <div class="col-md-12 post_media">
        
                                        <div class="title_content">
                                            <div class="text_content">Grid World Navigation Using Deep Reinforcement Learning</div>
                                            <div class="clear"></div>
                                        </div>
        
                                        <ul class="info">
                                            <li><a href='../documents/XL_project.pdf' target='_blank'> report </a></li>
                                        </ul>
        
                                        <div class="research-content">
                                                <div class="text_content_p"> Our work was to use reinforcement learning system to solve the problem of 
                                                agent navigation and largely leverage the reward it fetched in an infinite grid world with a single agent roaming around. 
                                                The algorithm we have implemented were: <br>
                                                Double DQN <br>
                                                Dueling Network <br>
                                                A2C Network <br>
                                                A3C Network <br>
                                                DDPG Network.
                                                </div>
                                        </div>
        
                                        <div class="media">
                                            <div class="he-wrap tpl2">
                                                <div id="coursepic-3" class="carousel slide" data-ride="carousel">
        
                                                    <ol class="carousel-indicators">
                                                        <li data-target="#coursepic-3" data-slide-to="0" class="active"></li>
                                                        <li data-target="#coursepic-3" data-slide-to="1"></li>
                                                        <li data-target="#coursepic-3" data-slide-to="2"></li>
                                                        <li data-target="#coursepic-3" data-slide-to="3"></li>                                                        
                                                    </ol>
        
                                                    <div class="carousel-inner">
        
                                                        <div class="item active">
                                                            <img src="images/course_project/10703/1.png" alt="" />
                                                        </div>
        
                                                        <div class="item">
                                                            <img src="images/course_project/10703/2.png" alt="" />
                                                        </div>
        
                                                        <div class="item">
                                                            <img src="images/course_project/10703/3.png" alt="" />
                                                        </div>

                                                        <div class="item">
                                                            <img src="images/course_project/10703/4.png" alt="" />
                                                        </div>
                                                    </div>
        
                                                    <a class="left carousel-control" href="#coursepic-3" data-slide="prev">
                                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                                    </a>
        
                                                    <a class="right carousel-control" href="#coursepic-3" data-slide="next">
                                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                                    </a>
        
                                                </div>
                                            </div>
        
                                        </div>
                                    </div>
                                </div>
        
                            </div>
                        </article>
                        <!-- End Post 3 -->

                        <div class="clear"></div>
                        <!-- Post 4 -->
                        <article id="post-1" class="research-article">                    
        
                                <div class="col-md-12">
            
                                    <div class="row">
            
                                        <div class="col-md-12 post_media">
            
                                            <div class="title_content">
                                                <div class="text_content">Develop a Simple Image Processing Application Named FinePixel Using C++</div>
                                                <div class="clear"></div>
                                            </div>
                                            <ul class="info">
                                                <li><a href='../documents/detailed.pdf' target='_blank'> report </a></li>
                                            </ul>     

                                            <div class="research-content">
                                                    <div class="text_content_p"> This self-designed software could have some basic functions like zooming in/out, cropping and rotating.<br>
                                                            The following list shows some special features:<br>
                                                            1. adjust the temperature;<br>
                                                            2. adjust contrast and brightness;<br>
                                                            3. adjust the hue;<br>
                                                            4. smoothing & sharpening;<br>
                                                            5. adjust highlight or shadow;<br>
                                                            6. add filters;<br>
                                                            7. adjust saturation;<br>
                                                            8. skin smoothing;<br>
                                                            9. face recognizing;<br>
                                                            10. GUI.<br>
                                                            Our performance target is that the user could use our product to do simple image processing. <br>
                                                            As our product name shown, it could have better graphics processing than Instagram.
                                                    </div>
                                            </div>
            
                                            <div class="media">
                                                <div class="he-wrap tpl2">
                                                    <div id="coursepic-4" class="carousel slide" data-ride="carousel">
            
                                                        <ol class="carousel-indicators">
                                                            <li data-target="#coursepic-4" data-slide-to="0" class="active"></li>
                                                            <li data-target="#coursepic-4" data-slide-to="1"></li>
                                                            <li data-target="#coursepic-4" data-slide-to="2"></li>
                                                            <li data-target="#coursepic-4" data-slide-to="3"></li>                                                         -->
                                                        </ol>
            
                                                        <div class="carousel-inner">
            
                                                            <div class="item active">
                                                                <img src="images/course_project/24780/1.png" alt="" />
                                                            </div>
            
                                                            <div class="item">
                                                                <img src="images/course_project/24780/2.png" alt="" />
                                                            </div>
            
                                                            <div class="item">
                                                                <img src="images/course_project/24780/3.png" alt="" />
                                                            </div>
    
                                                            <div class="item">
                                                                <img src="images/course_project/24780/4.png" alt="" />
                                                            </div> 
                                                        </div>
            
                                                        <a class="left carousel-control" href="#coursepic-4" data-slide="prev">
                                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                                        </a>
            
                                                        <a class="right carousel-control" href="#coursepic-4" data-slide="next">
                                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                                        </a>
            
                                                    </div>
                                                </div>
            
                                            </div>
                                        </div>
                                    </div>
            
                                </div>
                            </article>
                            <!-- End Post 4 -->
    
                    </section>
        
                    <!-- End Page research -->
                </div>
            </div>
        </div>
        </div>
        <!-- End .research -->