<!-- .research -->
<div id="research" class="content_2">


<div class="col-md-12">
    
    <article id="post-1" class="research-article">  
        <h1 class="h-bloc">Publications</h1><br>

        <div class="row">
            <div class="text_content_p">B. Chong, Y. Aydin, G. Sartoretti, J. Rieser, C. Gong, <strong>Haosen Xing</strong>, H. Choset, D. Goldman, <a href="http://www.roboticsproceedings.org/rss15/p67.pdf">A Hierarchical Geometric Framework to Design Locomotive Gaits for Highly Articulated Robots</a>, Robotics: Science and Systems, 2019</div>
        </div>
        <div class="row">
            <div class="text_content_p">B. Chong, Y. Aydin, C. Gong, G. Sartoretti, Y. Wu, J. Rieser, <strong>Haosen Xing</strong>, J. Rankin, K. Michel, A. Nicieza, J. Hutchinson, D. Goldman, H. Choset, <a href="http://crablab.gatech.edu/pages/publications/pdf/RSS2018.pdf">Coordination of back bending and leg movements for quadrupedal locomotion</a>, Robotics: Science and Systems, 2018</div>
        </div>        
    </article>
    <div class="clear"></div>
    
    <article id="post-1" class="research-article">  
            <h1 class="h-bloc">Conferences & Workshops</h1><br> 
            <div class="row">
                <div class="text_content_p"><strong>Haosen Xing</strong>, B. Chong, G. Sartoretti, J. Whitman, Y. Aydin, D. Goldman, H. Choset, <a href="https://ui.adsabs.harvard.edu/abs/2019APS..MARA65005X/abstract">Inertial Tail-like Appendage Use in Quadrupeds Improves Stability in Diagonal Sequence Walking Gaits</a>, American Physical Society 2019, March 2019</div>
            </div>
            <div class="row">
                <div class="text_content_p">B. Chong, Y. Aydin, G. Sartoretti, J. Rieser, <strong>Haosen Xing</strong>, C. Gong, H. Choset, D. Goldman, <a href="https://ui.adsabs.harvard.edu/abs/2019APS..MARS64007C/abstract">Coordination of legs and body undulation during turning in quadruped locomotion</a>, American Physical Society 2019, March 2019</div>
            </div>            
            <div class="row">
                <div class="text_content_p"><strong>Haosen Xing</strong>, B. Chong, G. Sartoretti, D. Goldman, and H. Choset, <a href="https://www.cmu.edu/me/robomechanicslab/ws/papers/Choset-RSSTails2018.pdf">Tail Use in Quadruped Improves Static Stability in Diagonal Sequence Walking Gaits</a>, Robotics: Socience and Systems 2018, June 2018</div>
            </div>   
            <div class="row">
                <div class="text_content_p">B. Chong, Y. Aydin, J. Rieser, Y. Wu, <strong>Haosen Xing</strong>, H. Choset, D. Goldman, <a href="https://ui.adsabs.harvard.edu/abs/2018APS..MARB50012C/abstract">The importance of body-limb coordination in a walking tetrapod</a>, American Physical Society 2018, March 2018</div>
            </div>                       
        </article>
</div>

<!-- <div class="clear"></div> -->

                                            </div>
                                            <!-- End .research -->