<!-- publications -->
<div id="publications" class="content_2">
    <h1 class="h-bloc">Publications</h1><br>
    
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12" id="research_page">
                <article id="post-1" class="research-article">  
                    <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12 post_media">
                                    <div class="title_content">
                                        <div class="text_content">Publications</div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="text_content_p">G. Lv*, <strong>Haosen Xing*</strong>, J. Lin, R. Gregg, and C. Atkeson,  <a> A Task-Invariant Learning Framework of Lower-Limb Exoskeletons for Assisting Human Locomotion</a>, submitted to <strong>American Control Conference, 2020</strong> (* indicates equal contribution)</div>
                                    <div class="text_content_p">B. Chong, Y. Aydin, C. Gong, G. Sartoretti, Y. Wu, J. Rieser, <strong>Haosen Xing</strong>, P. Schiebel, J. Rankin, K. Michel, A. Nicieza, J. Hutchinson, D. Goldman, H. Choset, <a> Coordination of Lateral Body Bending and Leg Movements for Sprawled Posture Quadrupedal Locomotion</a>, submitted to <strong>International Journal of Robotics Research</strong></div>
                                    <div class="text_content_p">B. Chong, Y. Aydin, G. Sartoretti, J. Rieser, C. Gong, <strong>Haosen Xing</strong>, H. Choset, D. Goldman, <a href="http://www.roboticsproceedings.org/rss15/p67.pdf" target='_blank'>
                                    A Hierarchical Geometric Framework to Design Locomotive Gaits for Highly Articulated Robots</a>, <strong>Robotics: Science and Systems, 2019</strong></div>
                                    <div class="text_content_p">B. Chong, Y. Aydin, C. Gong, G. Sartoretti, Y. Wu, J. Rieser, <strong>Haosen Xing</strong>, J. Rankin, K. Michel, A. Nicieza, 
                                    J. Hutchinson, D. Goldman, H. Choset, <a href="http://crablab.gatech.edu/pages/publications/pdf/RSS2018.pdf" target='_blank'>Coordination of back bending and leg movements for quadrupedal locomotion</a>, <strong>Robotics: Science and Systems, 2018</strong></div>
                          
                                </div>
                            </div>
                        </div>     
                </article>
    
                <article id="post-1" class="research-article">  
                    <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12 post_media">
                                    <div class="title_content">
                                        <div class="text_content">Abstracts & Workshops</div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="text_content_p"><strong>Haosen Xing</strong>, B. Chong, G. Sartoretti, J. Whitman, Y. Aydin, D. Goldman, H. Choset, <a href="https://ui.adsabs.harvard.edu/abs/2019APS..MARA65005X/abstract" target='_blank'>
                                        Inertial Tail-like Appendage Use in Quadrupeds Improves Stability in Diagonal Sequence Walking Gaits</a>, <strong>American Physical Society 2019</strong></div>
                                    <div class="text_content_p">B. Chong, Y. Aydin, G. Sartoretti, J. Rieser, <strong>Haosen Xing</strong>, C. Gong, H. Choset, D. Goldman, <a href="https://ui.adsabs.harvard.edu/abs/2019APS..MARS64007C/abstract" target='_blank'>
                                        Coordination of legs and body undulation during turning in quadruped locomotion</a>, <strong>American Physical Society 2019</strong></div>
                                    <div class="text_content_p"><strong>Haosen Xing</strong>, B. Chong, G. Sartoretti, D. Goldman, and H. Choset, <a href="https://www.cmu.edu/me/robomechanicslab/ws/papers/Choset-RSSTails2018.pdf" target='_blank'>
                                        Tail Use in Quadruped Improves Static Stability in Diagonal Sequence Walking Gaits</a>, <strong>Robotics: Socience and Systems 2018</strong></div>
                                    <div class="text_content_p">B. Chong, Y. Aydin, J. Rieser, Y. Wu, <strong>Haosen Xing</strong>, H. Choset, D. Goldman, <a href="https://ui.adsabs.harvard.edu/abs/2018APS..MARB50012C/abstract" target='_blank'>
                                        The importance of body-limb coordination in a walking tetrapod</a>, <strong>American Physical Society 2018</strong></div>    
                        
                                </div>
                            </div>
                        </div>     
                </article>
            <div class="clear"></div>
            </div>
        </div>
    
    </div>
    <div class="clear"></div>
    </div>
    <!-- End .profile -->