<!-- .research -->
<div id="research" class="content_2">
        <h1 class="h-bloc">Research Experience</h1><br> 
        
        <div class="col-md-12">
            <div class="row">
        
                <!-- Page research -->
                <div class="col-md-12" id="research_page">
                    <!-- start Page research -->
                    <section id="research-page">
        
                        <!-- Post 9 -->	
                        <article id="post-1" class="research-article">                    
        
                            <div class="col-md-12">
        
                                <div class="row">
        
                                    <div class="col-md-12 post_media">
        
                                        <div class="title_content">
                                                <div class="text_content">Planning and Control of Artificial Lower Limbs for Resilient Locomotion using Interaction 
                                                of User Intent and Environment Sensing</div>
                                                <div class="clear"></div>
                                            </div>
            
                                            <ul class="info">
                                                {% comment %} <li><a href=''> report </a></li>
                                                <li><a href=''> abstract </a></li> {% endcomment %}
                                            </ul>
            
                                            <div class="research-content">
                                                <div class="text_content_p"> To be updated ...
                                                </div> 
                                            </div>
        
                                        <div class="media">
                                            <div class="he-wrap tpl2">
                                                <div id="carousel-9" class="carousel slide" data-ride="carousel">
        
                                                    <ol class="carousel-indicators">
                                                        <li data-target="#carousel-9" data-slide-to="0" class="active"></li>
                                                        <li data-target="#carousel-9" data-slide-to="1"></li>
                                                        <li data-target="#carousel-9" data-slide-to="2"></li>
                                                    </ol>
        
                                                    <div class="carousel-inner">
        
                                                        {% comment %} <div class="item active">
                                                            <img src="images/course_project/24785/1.png" alt="" />
                                                        </div>
        
        
                                                        <div class="item">
                                                            <img src="images/course_project/24785/2.png" alt="" />
                                                        </div>
        
                                                        <div class="item">
                                                            <img src="images/course_project/24785/3.png" alt="" />
                                                        </div> {% endcomment %}
        
                                                    </div>
        
                                                    <a class="left carousel-control" href="#carousel-9" data-slide="prev">
                                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                                    </a>
        
                                                    <a class="right carousel-control" href="#carousel-9" data-slide="next">
                                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                                    </a>
        
                                                </div>
                                            </div>
        
                                        </div>
                                    </div>
                                </div>
        
                            </div>
                        </article>
                        <!-- End Post 9 -->
        
                        <div class="clear"></div>

                        <!-- Post 8 -->	
                        <article id="post-1" class="research-article">                    
        
                            <div class="col-md-12">
        
                                <div class="row">
        
                                    <div class="col-md-12 post_media">
        
                                        <div class="title_content">
                                                <div class="text_content">Task-Invariant Control and Experimental Testing of Lower-Limb Exoskeletons</div>
                                                <div class="clear"></div>
                                            </div>
            
                                            <ul class="info">
                                                <li> Paper accepted by ACC 2020 </li>
                                                {% comment %} <li>  </li> {% endcomment %}
                                                <!-- <li><a href='../documents/Final_report_haosenx.pdf' target='_blank'> report </a></li> -->
                                                <!-- <li><a href=''> video </a></li> -->
                                            </ul>
            
                                            <div class="research-content">
                                                <div class="text_content_p">
                                                    We are using a novel control methodology for wearable robots that prefer task-invariant, energetic control rather than task-specific, kinematic control.
                                                    It shapes the total energy of the human body with exoskeleton actuators, reducing mass/inertia parameters in body energetics to dynamically offload 
                                                    the weight of a patient. This methodology is ideally suitable for task-invariant tasks because it does not depend on pre-defined kinematic patterns.  
                                                    Using powered orthoses to assist humans in a variety of activities is coming true.

                                                </div> 
                                            </div>
        
                                        <div class="media">
                                            <div class="he-wrap tpl2">
                                                <div id="carousel-8" class="carousel slide" data-ride="carousel">
        
                                                    <ol class="carousel-indicators">
                                                        <li data-target="#carousel-8" data-slide-to="0" class="active"></li>
                                                        <li data-target="#carousel-8" data-slide-to="1"></li>
                                                        <li data-target="#carousel-8" data-slide-to="2"></li>
                                                    </ol>
        
                                                    <div class="carousel-inner">
                                                        <div class="item active">
                                                            <img src="images/project/biped.png" alt="" />
                                                        </div>
                                                        <!--
                                                        <div class="item">
                                                            <img src="images/course_project/24785/2.png" alt="" />
                                                        </div>
        
                                                        <div class="item">
                                                            <img src="images/course_project/24785/3.png" alt="" />
                                                        </div> -->
        
                                                    </div>
        
                                                    {% comment %} <a class="left carousel-control" href="#carousel-8" data-slide="prev">
                                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                                    </a>
        
                                                    <a class="right carousel-control" href="#carousel-8" data-slide="next">
                                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                                    </a> {% endcomment %}
        
                                                </div>
                                            </div>
        
                                        </div>
                                    </div>
                                </div>
        
                            </div>
                        </article>
                        <!-- End Post 8 -->
        
                        <div class="clear"></div>
                        
                        <!-- Post 7 -->	
                        <article id="post-1" class="research-article">                    
        
                            <div class="col-md-12">
        
                                <div class="row">
        
                                    <div class="col-md-12 post_media">
        
                                            <div class="title_content">
                                                    <div class="text_content">Inertial Tail-like Appendage Use in Quadruped Improves Stability in
                                                            Diagonal Sequence Walking Gaits</div>
                                                    <div class="clear"></div>
                                                </div>
                
                                                <ul class="info">
                                                    <li><a href='https://ui.adsabs.harvard.edu/abs/2019APS..MARA65005X/abstract' target='_blank'> abstract </a></li>
                                                    <!-- <li><a href='../documents/Final_report_haosenx.pdf' target='_blank'> report </a></li> -->
                                                    <!-- <li><a href=''> video </a></li> -->
                                                </ul>
                
                                                <div class="research-content">
                                                    <div class="text_content_p">Our work aims to increase the stability of the DS gait by
                                                        investigating the use of an inertial tail-like appendage. We
                                                        model the quadruped system as a self-manipulator with an
                                                        actuated tail in 3D which can swing in not only the yaw direction
                                                        but also the pitch direction.
                                                    </div> 
                                                </div>
        
                                        <div class="media">
                                            <div class="he-wrap tpl2">
                                                <div id="carousel-7" class="carousel slide" data-ride="carousel">
        
                                                        <ol class="carousel-indicators">
                                                                <li data-target="#carousel-8" data-slide-to="0" class="active"></li>
                                                                <li data-target="#carousel-8" data-slide-to="1"></li>
                                                            </ol>
                
                                                            <div class="carousel-inner">
                
                                                                <div class="item active">
                                                                    <img src="images/project/tail_4.png" alt="" />
                                                                </div>
                
                
                                                                <div class="item">
                                                                    <img src="images/project/tail_5.png" alt="" />
                                                                </div>
                
                                                            </div>
        
                                                    <a class="left carousel-control" href="#carousel-7" data-slide="prev">
                                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                                    </a>
        
                                                    <a class="right carousel-control" href="#carousel-7" data-slide="next">
                                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                                    </a>
        
                                                </div>
                                            </div>
        
                                        </div>
                                    </div>
                                </div>
        
                            </div>
                        </article>
                        <!-- End Post 7 -->
        
                        <div class="clear"></div>                       

                        <!-- Post 6 -->
                        <article id="post-1" class="research-article">                    
        
                            <div class="col-md-12">
        
                                <div class="row">
        
                                    <div class="col-md-12 post_media">
        
                                            <div class="title_content">
                                                    <div class="text_content">Tail Use in Quadruped Improves Static Stability in Diagonal Sequence Walking Gaits
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                
                                                <ul class="info">
                                                    <!-- <li><a href=''> video </a></li> -->
                                                    <li><a href='https://www.cmu.edu/me/robomechanicslab/ws/papers/Choset-RSSTails2018.pdf' target='_blank'> abstract </a></li>
                                                    <!-- <li><a href='../documents/RSS2018.pdf' target='_blank'> slides </a></li> -->
                                                </ul>
                
                                                <div class="research-content">
                                                    <div class="text_content_p">Our work investigates the use of a heavy tail to help stabilize
                                                        larger-stride-displacement gaits for a quadruped robot. With the help of an actuated tail,
                                                        such a quadruped can take advantage of the higher stride displacement (about 30% larger) 
                                                        of the diagonal sequence walking gait while maintaining static stability.
                                                    </div> 
                                                </div>
        
                                        <div class="media">
                                            <div class="he-wrap tpl2">
                                                <div id="carousel-6" class="carousel slide" data-ride="carousel">
        
                                                    <ol class="carousel-indicators">
                                                        <li data-target="#carousel-6" data-slide-to="0" class="active"></li>
                                                        <li data-target="#carousel-6" data-slide-to="1"></li>
                                                        <li data-target="#carousel-6" data-slide-to="2"></li>
                                                    </ol>
        
                                                    <div class="carousel-inner">
                                                        <div class="item active">
                                                            <img src="images/project/tail_1.png" alt="" />
                                                        </div>
        
                                                        <div class="item">
                                                            <img src="images/project/tail_2.png" alt="" />
                                                        </div>
        
                                                        <div class="item">
                                                            <img src="images/project/tail_3.png" alt="" />
                                                        </div>
        
                                                    </div>
        
                                                    <a class="left carousel-control" href="#carousel-6" data-slide="prev">
                                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                                    </a>
        
                                                    <a class="right carousel-control" href="#carousel-6" data-slide="next">
                                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                                    </a>
        
                                                </div>
                                            </div>
        
                                        </div>
                                    </div>
                                </div>
        
                            </div>
                        </article>
                        <!-- End Post 6 -->
        
                        <div class="clear"></div>

                        <!-- Post 5 -->
                        <article id="post-1" class="research-article">                    
        
                            <div class="col-md-12">
        
                                <div class="row">
        
                                    <div class="col-md-12 post_media">
        
                                        <div class="title_content">
                                            <div class="text_content">Legged System Gait Design and Stability Analysis Using Hildebrand Diagram</div>
                                            <div class="clear"></div>
                                        </div>
        
                                        <ul class="info">
                                            <!-- <li> paper </li> -->
                                            <li><a href='../documents/hildebrand.pdf' target='_blank'> presentation </a></li>
                                            {% comment %} <li><a href=''> code </a></li> {% endcomment %}
                                        </ul>
        
                                        <div class="research-content">
                                            <div class="text_content_p">
                                                The gaits of quadrupedal animals all have footfall patterns by which contact is made between the 
                                                foot and the ground. Both the order in which the feet make contact and the length of the contact 
                                                describe the gait. While there are a myriad of gaits quadrupeds could use for locomotion, only 
                                                a few are routinely seen <a href='https://onlinelibrary.wiley.com/doi/abs/10.1002/ajpa.1330260203' 
                                                target='_blank'>[hildebrand]</a>. In this case, as Hildebrand diagram is a plot to characterize and compare symmetric 
                                                quadruped gaits, we can perform gait design and stability analysis for quadruped, hexapod, octopod, etc.
                                                </div>
                                        </div>
        
                                        <div class="media">
                                            <div class="he-wrap tpl2">
                                                <div id="carousel-5" class="carousel slide" data-ride="carousel">
        
                                                    <ol class="carousel-indicators">
                                                        <li data-target="#carousel-5" data-slide-to="0" class="active"></li>
                                                        <!-- <li data-target="#carousel-5" data-slide-to="1"></li>
                                                        <li data-target="#carousel-5" data-slide-to="2"></li> -->
                                                    </ol>
        
                                                    <div class="carousel-inner">
        
                                                        <div class="item active">
                                                            <img src="images/project/hildebrand.png" alt="" />
                                                        </div>
        
                                                    </div>
                                                </div>
                                            </div>
        
                                        </div>
                                    </div>
                                </div>
        
                            </div>
                        </article>
                        <!-- End Post 5 -->

                        <div class="clear"></div>
                        <!-- Post 4 -->
                        <article id="post-1" class="research-article">                    
        
                            <div class="col-md-12">
        
                                <div class="row">
        
                                    <div class="col-md-12 post_media">
        
                                        <div class="title_content">
                                            <div class="text_content">Geometric Mechanics and Quadruped Back-bending</div>
                                            <div class="clear"></div>
                                        </div>
        
                                        <ul class="info">
                                            <li><a href='http://crablab.gatech.edu/pages/publications/pdf/RSS2018.pdf' target='_blank'> paper </a></li>
                                            <li><a href='https://www.youtube.com/watch?v=JhrD-FdhN_I&t=3s' target='_blank'> video </a></li>
                                            <li><a href='../documents/flat.pdf' target='_blank'> presentation </a></li>
                                        </ul>
        
                                        <div class="research-content">
                                            <div class="text_content_p">
                                                We use <a href='https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=6487415' target='_blank'>geometric mechanics </a> 
                                                to prescribe gaits with the coordination of leg movements and back-bending motion. We are able to show 
                                                back-bending in quadruped, especially in salamanders, can improve stride displacement in the forward, rotational and lateral directions.
                                                Also, by assuming all stance feet having zero linear velocities, we model 
                                                the quadruped locomotion on flat ground. We perform the simulation and robot test to analyze how back-bending
                                                improves locomotion.
                                                </div>
                                        </div>
        
                                        <div class="media">
                                            <div class="he-wrap tpl2">
                                                <div id="carousel-4" class="carousel slide" data-ride="carousel">
        
                                                    <ol class="carousel-indicators">
                                                        <li data-target="#carousel-4" data-slide-to="0" class="active"></li>
                                                        <li data-target="#carousel-4" data-slide-to="1"></li>
                                                        <li data-target="#carousel-4" data-slide-to="2"></li>
                                                        <li data-target="#carousel-4" data-slide-to="3"></li>
                                                        <li data-target="#carousel-4" data-slide-to="4"></li>
                                                    </ol>
        
                                                    <div class="carousel-inner">
        
                                                        <div class="item active">
                                                            <img src="images/project/backbending_1.png" alt="" />
                                                        </div>
        
                                                        <div class="item">
                                                            <img src="images/project/backbending_2.png" alt="" />
                                                        </div>
        
                                                        <div class="item">
                                                            <img src="images/project/backbending_3.png" alt="" />
                                                        </div>
        
                                                        <div class="item">
                                                            <img src="images/project/flat_1.png" alt="" />
                                                        </div>           
            
                                                        <div class="item">
                                                            <img src="images/project/flat_2.png" alt="" />
                                                        </div>
                
                                                    </div>
        
                                                    <a class="left carousel-control" href="#carousel-4" data-slide="prev">
                                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                                    </a>
        
                                                    <a class="right carousel-control" href="#carousel-4" data-slide="next">
                                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                                    </a>
        
                                                </div>
                                            </div>
        
                                        </div>
                                    </div>
                                </div>
        
                            </div>
                        </article>
                        <!-- End Post 4 -->
                        <div class="clear"></div>
                        <!-- Post 3 -->	
                        <article id="post-1" class="research-article">                    
        
                                <div class="col-md-12">
            
                                    <div class="row">
            
                                        <div class="col-md-12 post_media">
            
                                            <div class="title_content">
                                                    <div class="text_content">Lower-body Fitting Robot CAD Design and Control</div>
                                                    <div class="clear"></div>
                                                </div>
                
                                                <ul class="info">
                                                    <li><a href='../documents/fitting.pdf' target='_blank'> presentation </a></li>
                                                </ul>
                
                                                <div class="research-content">
                                                    <div class="text_content_p">April 2017 – June 2017 <br>
                                                        This individual project is a part of the Fitting Robot Mannequin Project, aiming to make shopping for clothes, easier and more convenient for the consumer and less cost of sales for the seller.
                                                        It focuses on the development of a robotic mannequin of the female lower body, which can morph to take the different shapes and sizes those a woman’s body can attain.
                                                        </div>
                                                </div>
            
                                            <div class="media">
                                                <div class="he-wrap tpl2">
                                                    <div id="carousel-3" class="carousel slide" data-ride="carousel">
            
                                                        <ol class="carousel-indicators">
                                                            <li data-target="#carousel-3" data-slide-to="0" class="active"></li>
                                                        </ol>
            
                                                        <div class="carousel-inner">
            
                                                            <div class="item active">
                                                                <img src="images/project/fitting_2.png" alt="" />
                                                            </div>

                                                        </div>
            

            
                                                    </div>
                                                </div>
            
                                            </div>
                                        </div>
                                    </div>
            
                                </div>
                            </article>
                        <!-- End Post 3 -->
                        <div class="clear"></div>
                        <!-- Post 2 -->
                        <article id="post-1" class="research-article">                    
        
                            <div class="col-md-12">
        
                                <div class="row">
        
                                    <div class="col-md-12 post_media">
        
                                        <div class="title_content">
                                            <div class="text_content">Analyze the Decay of Kinetic Energy Downstream with Turbulence using Wind Tunnel</div>
                                            <div class="clear"></div>
                                        </div>
        
                                        <ul class="info">
                                            <!-- <li><a href=''> March 2016 – December 2016 </a></li> -->
                                            <li><a href='../documents/wind_tunnel.pdf' target='_blank'> report </a></li>
                                            <!-- <li><a href=''> code </a></li> -->
                                        </ul>
        
                                        <div class="research-content">
                                            <div class="text_content_p">  March 2016 – May 2017 <br>
                                                We set up the experiment about the decay of kinetic energy downstream with turbulence, and analyze the power spectrum of down-stream decay.</div>
                                        </div>
        
                                        <div class="media">
                                            <div class="he-wrap tpl2">
                                                <div id="carousel-2" class="carousel slide" data-ride="carousel">
        
                                                    <ol class="carousel-indicators">
                                                        <li data-target="#carousel-2" data-slide-to="0" class="active"></li>

                                                    </ol>
        
                                                    <div class="carousel-inner">
        
                                                        <div class="item active">
                                                            <img src="images/project/wind_tunnel.png" alt="" />
                                                        </div>

                                                    </div>

        
                                                </div>
                                            </div>
        
                                        </div>
                                    </div>
                                </div>
        
                            </div>
                        </article>
                        <!-- End Post 2 -->
                       
                        <div class="clear"></div>
                        <!-- Post 1 -->
                        <article id="post-1" class="research-article">                    
        
                                <div class="col-md-12">
            
                                    <div class="row">
            
                                        <div class="col-md-12 post_media">
            
                                            <div class="title_content">
                                                <div class="text_content">Micro Generator Design</div>
                                                <div class="clear"></div>
                                            </div>
            
                                            <ul class="info">
                                                <!-- <li><a href=''> March 2016 – December 2016 </a></li> -->
                                                <li><a href='../documents/micro_generator.pdf' target='_blank'> report </a></li>
                                                <!-- <li><a href=''> code </a></li> -->
                                            </ul>
            
                                            <div class="research-content">
                                                <div class="text_content_p">  March 2016 – December 2016 <br>
                                                    We develop a micro generator which is at most 0.5cm in diameter and 5cm in length. 
                                                    Such micro electric generator will offer a promising power source for small size electronic devices, like phones, watches, and so on.</div>
                                            </div>
            
                                            <div class="media">
                                                <div class="he-wrap tpl2">
                                                    <div id="carousel-1" class="carousel slide" data-ride="carousel">
            
                                                        <ol class="carousel-indicators">
                                                            <li data-target="#carousel-1" data-slide-to="0" class="active"></li>

                                                        </ol>
            
                                                        <div class="carousel-inner">
            
                                                            <div class="item active">
                                                                <img src="images/project/power_generation.png" alt="" />
                                                            </div>

                                                        </div>
            
                                                    </div>
                                                </div>
            
                                            </div>
                                        </div>
                                    </div>
            
                                </div>
                            </article>
                            <!-- End Post 1 -->

                    </section>
        
                    <!-- End Page research -->
                </div>
            </div>
        </div>
        </div>
        <!-- End .research -->